body {
    margin: 0;
    padding: 0;
}

.top-section {
    background-image: url('caminho/para/o-wallpaper-superior.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh; /* Define a altura da seção superior */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Cor do texto */
    text-align: center;
}

.bottom-section {
    background-image: url('caminho/para/o-wallpaper-inferior.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh; /* Define a altura da seção inferior */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Cor do texto */
    text-align: center;
}
