body {
    margin: 0;
    padding: 0;
}

.top-section {
    background-image: url('https://images6.alphacoders.com/134/thumb-1920-1345378.jpeg');
    background-size: cover;
    background-position: center;
    height: 50vh; /* Define a altura da seção superior */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Cor do texto */
    text-align: center;
}

.bottom-section {
    background-image: url('https://images6.alphacoders.com/134/thumb-1920-1345660.png');
    background-size: cover;
    background-position: center;
    height: 50vh; /* Define a altura da seção inferior */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Cor do texto */
    text-align: center;
}
